<div id="banana_dashboard">
    {% for group, menu_items in dashboard_menu %}
        <div>
            <h4>{{ group }}</h4>
            <ul>
                {% for menu_item in menu_items %}
                <li>
                    <a href=" ">
                        <i>{{ menu_item['icon'] }}</i>
                        <div>{{ menu_item['title'] }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

